<div id="content" class="container fontSize12" style="padding-bottom:70px;">
	<h3>Business Fee Calculator</h3>
	<div style="margin-top:20px;">
		<label id="amount">Amount</label>
		<div class="input-container" id="xemAmountDiv">
			<input class="box-input" type="text" ng-model="amount" ng-keyup="handle()" style="width:100%; margin-left:4px; margin-right:4px; padding-left:4px; background-color: #eaedf2;" />
		</div>
		<label>
			Message
			<textarea id="textarea" class="box-input" placeholder="Message ([0-9 a-f A-F] for Hexadecimal)" type="text" ng-model="message"
			 ng-trim="false" ng-keyup="handle()" style="width:100%; margin-left:4px; margin-right:4px; padding-left:4px; margin-bottom: 0px;"></textarea>
			<div class="wordCount">
				<strong>Characters left: </strong>{{messageType.value - message.length}}
			</div>
		</label>
		<br>
		Message Type
		<select ng-model="messageType" ng-options="msg as msg.label for msg in messageOptions track by msg.value" ng-change="handle()">
		</select>

		<input id="checkbox" type="checkbox" ng-click="mosaicTransfer()"><label for="checkbox">Mosaic Transfer</label>
	</div>
	<div id="mosaic" style="margin-top:20px;">
		<button type="button" class="btn-danger btn btn-md" ng-click="addMosaicSec()">
			<i>+</i> Add Mosaic (maximum 10 Mosaic)
		</button>
		<div id="mosaicSection">
			<div id=mosaic_1 style="
			border: black;
			border-style: double;
			margin-bottom: 5px;
			padding: 5px;
		">
				<label id="mosaicAmount">Mosaic Quantity
					<input class="box-input" type="text" ng-model="mosaicAmount_1" ng-keyup="handle()" style="width:100%; margin-left:4px; margin-right:4px; padding-left:4px;" />
				</label>
				<label id="mosaicSuply">Mosaic Supply
					<input class="box-input" type="text" ng-model="mosaicSupply_1" ng-keyup="handle()" style="width:100%; margin-left:4px; margin-right:4px; padding-left:4px;" />
				</label>
				<label id="mosaiDiv">Divisibility
					<input class="box-input" type="text" ng-model="mosaicDiv_1" ng-keyup="handle()" style="width:100%; margin-left:4px; margin-right:4px; padding-left:4px;" />
				</label>
			</div>
		</div>
	</div>
	<div class="divider2"></div>
	<label id="multiplier">Number Of Transactions
		<input class="box-input" type="text" ng-model="multiplier" ng-keyup="handle()" style="width:100%; margin-left:4px; margin-right:4px; padding-left:4px;" />
	</label>
	Time Period
	<select ng-model="timePeriodType" ng-options="du as du.label for du in durationOptions track by du.value" ng-change="handle()">
	</select>
	Currency
	<select ng-model="currency" ng-options="currency as currency for currency in currencyList" ng-change="handle()">
	</select>
	<label id="multiplier">Number Of {{timePeriodType.label}} </span>
		<input class="box-input" type="text" ng-model="dur" ng-keyup="handle()" style="width:100%; margin-left:4px; margin-right:4px; padding-left:4px;" />
	</label>
	<div class="divider2"></div>
	<div style="margin-top:20px;">
		<label id="fee">Fee In XEM</label>
		<div class="input-container">
			<input class="box-input" type="text" ng-model="fee" style="width:100%; margin-left:4px; margin-right:4px; padding-left:4px; background-color: #eaedf2;" />
		</div>
	</div>
	<div style="margin-top:20px;">
		<label id="feeUSD">Estimate Fee In {{currency}}</label>
		<div class="input-containerFiat">
			<input class="box-input" type="text" ng-model="feeFiat" style="width:100%; margin-left:4px; margin-right:4px; padding-left:4px; background-color: #eaedf2;" />
		</div>
	</div>
</div>